<div class="row">
  <div class="xs-12 text-center">
    <h1>ParkAtlanta </h1>
    <p>Check on parking lot status, and your queue position below. Click below to remove a vehicle, or add a new vehicle to the queue.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Lot Status:</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge">{{fa-icon "check-circle"}}</span> Route (full)</li>
          <li class="list-group-item">Model (empty)</li>
          <li class="list-group-item">View</li>
          <li class="list-group-item">Template</li>
          <li class="list-group-item">Controller?</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Parking Queue:</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"><span class="badge">{{fa-icon "fa-truck"}}</span> Truck</li>
          <li class="list-group-item"><span class="badge">{{fa-icon "fa-motorcycle"}}</span> Motorcycle</li>
          <li class="list-group-item"><span class="badge">{{fa-icon "fa-car"}}</span> Sedan</li>
          <li class="list-group-item">Template</li>
          <li class="list-group-item">Controller?</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <div class="btn-group btn-group-lg" role="group">
      <button class="btn btn-warning">Remove a car from the lot</button>
      <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add a vehicle to the Queue
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Motorcycle</a></li>
          <li><a href="#">Sedan</a></li>
          <li><a href="#">Truck</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>